.container {
  display: flex;
  justify-content: space-between;
}

.films-list {
  width: 40%;
  border-right: 2px solid #ccc;
  padding-right: 20px;
}

.film-details {
  width: 58%;
  padding-left: 20px;
}

.film-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.film-item:hover {
  background-color: #f8f8f8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}